body {
    background-color: white;
    font-family: sans-serif;
    font-size: 12pt;    
    padding: 0;
    margin: 0;
}

#header {
    background:-webkit-gradient(linear, 0 0%, 0% 100%, from(#99c9ff), to(#ffffff));
    position: absolute;
    left: 0;
    right: 0;
    height: 1cm;
    padding-top: 1mm;    
    padding-bottom: 1mm;
    padding-right: 5mm;
    padding-left: 5mm;
    color: #115bb2;
    margin: 0;
}

#header h1 {
    font-size: 14pt;    
    margin: 0;
}

#central_component {
    padding: 3mm;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 1cm;
    bottom: 1cm;
}

#footer {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1.5cm;
    margin-left: 1mm;
    margin-right: 1mm;
    padding-top: 1mm;
    padding-left: 5mm;
    padding-right: 5mm;
    text-align: center;
    /*font-style: italic;*/
    color: rgb(110, 110, 110);
    border-top: 1pt solid rgb(202, 202, 202);
}

.column {
    display: inline-block;
    width: 25%;
    min-width: 7cm;
    vertical-align: top;
    padding: 0;
    margin-left: 2mm;
    margin-right: 2mm;
}

.column h2 {
    font-weight: bold;
    font-size: 14pt;
    color: #4c4c4c;
    margin: 0;
    margin-bottom: 1mm;
}

button {    
    margin: 0;
    width: 100%;
    display: block;
    padding: 1mm 3mm;
    cursor: pointer;
    border-color: #c3c3c5;
    border-width: 1pt;
    border-style: solid;
    border-bottom-style: none;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3f3f3), to(#e0e0e0));
    color: darkblue;
}

.orange {
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ef9331), to(#e9701d));
    color: white;
    border-color:  #d46400;
    text-shadow:0 1pt 0 #9f5517;
}

.blue {
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#5699e7), to(#1a72db));
    color: white;
    border-color:  #306aaf;
    text-shadow:0 1pt 0 #a15b1d;
}

.first {
    border-top-left-radius: 1.5mm;
    border-top-right-radius: 1.5mm;
}

.last {
    border-bottom-style: solid;
    border-bottom-left-radius: 1.5mm;
    border-bottom-right-radius: 1.5mm;
    margin-bottom: 2mm;    
}

.action_default {
    padding: 3px 10px 5px;
    border: 1pt solid #d46400;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ef9331), to(#e9701d));
    color: white;
    cursor: pointer;
    text-shadow:0 1pt 0 #9f5517;
    border-radius: 4mm;
}